.filler-text-div{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20vh 0;
    background-color: black;
}

.filler-bracketblue, .filler-bracketpurple{
    position: absolute;
    width: 110px;
    height: auto;
}

.filler-starabove, .filler-starbelow{
    position: absolute;
}

.filler-text{
    font-family: Nulshock;
    font-size: 5vw;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    position: relative;
    margin: 5% 0px;
}

.filler-bracketblue{
    top: -10px;
    left: 20px;
    rotate: 256deg;
    animation: fillerBracketFloat 5s ease-in-out infinite;
}

.filler-bracketpurple{
    bottom: -20px;
    right: -10px;
    rotate: 245deg;
    animation: fillerBracketFloat 5s ease-in-out infinite;
}

.filler-starabove{
    width: 180px;
    height: auto;
    top: -130px;
    right: -90px;
    rotate: 33deg;
    z-index: 3;
    filter: blur(1px);
    animation: fillerFloat 6s ease-in-out infinite;
}

.filler-starbelow{
    width: 150px;
    height: auto;
    bottom: -73px;
    left: -10px;
    rotate: -12deg;
    z-index: 1;
    filter: blur(3px);
    animation: fillerFloat 6s ease-in-out infinite;
}

.filler-side-decor-left {
    position: absolute;
    top: 10%;
}

.filler-side-decor-right{
    position: absolute;
    bottom: 10%;
}

.filler-side-decor-left {
    left: 0;
}

.filler-side-decor-right {
    right: 0;
}

.fillerglow2{
    position: absolute;
    width: 60%;
    height: auto;
    filter: blur(200px);
    opacity: 0.35;
    aspect-ratio: 1;
    background: radial-gradient(circle, #345BE7,rgba(0, 0, 0, 0));
    top: -50%;
    right: -15%;
}

.fillerglow1{
    position: absolute;
    width: 50%;
    height: auto;
    filter: blur(200px);
    opacity: 0.35;
    aspect-ratio: 1;
    background: radial-gradient(circle, #D452FF,rgba(0, 0, 0, 0));
    bottom: -20%;
    left: -20%;
}

@media (max-width: 1200px) {
    .fillerglow1{
        filter: blur(140px);
    }

    .fillerglow2{
        filter: blur(140px);
    }

    .filler-bracketblue {
        width: 90px;
        top: -10px;
        left: 20px;
    }

    .filler-bracketpurple{
        width: 90px;
        bottom: -5px;
        right: 0px;
    }

    .filler-starabove {
        width: 140px;
        top: -90px;
        right: -50px;
    }

    .filler-starbelow {
        width: 120px;
        bottom: -53px;
        left: -8px;
    }

    .filler-side-decor-left svg, .filler-side-decor-right svg {
        width: 25vw;
    }
}

@media (max-width: 768px) {
    .fillerglow1{
        filter: blur(120px);
        top: 40%;
        width: 70%;
    }

    .fillerglow2{
        filter: blur(120px);
        width: 70%;
        top: -50%;
        right: -30%;
    }

    .filler-bracketblue {
        width: 60px;
        top: -10px;
        left: 20px;
    }

    .filler-bracketpurple{
        width: 60px;
        bottom: 0px;
        right: 10px;
    }

    .filler-starabove {
        width: 90px;
        top: -65px;
        right: -10px;
    }
    .filler-starbelow {
        width: 90px;
        bottom: -33px;
        left: 2px;
        filter: blur(2px);
    }

    .filler-side-decor-left {
        position: absolute;
        top: 15%;
    }
    
    .filler-side-decor-right{
        position: absolute;
        bottom: 15%;
    }

    .filler-side-decor-left svg, .filler-side-decor-right svg {
        width: 30vw;
    }
}

@media (max-width: 480px) {
    .fillerglow1{
        filter: blur(100px);
        top: 40%;
        left: -40%;
        width: 90%;
        opacity: 0.5;
    }
    .fillerglow2{
        filter: blur(120px);
        width: 90%;
        top: -50%;
        right: -30%;
        opacity: 0.5;
    }
    .filler-text-div{
        padding: 30px 0;
    }

    .filler-text{
        font-size: 4.5vw;
    }

    .filler-side-decor-left {
        top: 5%;
    }

    .filler-side-decor-right{
        bottom: 0%;
    }

    .filler-bracketblue {
        width: 40px;
        top: 10px;
        left: 30px;
    }

    .filler-bracketpurple{
        width: 40px;
        bottom: 13px;
        right: 25px;
    }

    .filler-starabove {
        width: 60px;
        top: -35px;
        right: 5px;
    }
    .filler-starbelow {
        width: 50px;
        bottom: -12px;
        left: 14px;
        filter: blur(1.5px);
    }

    .filler-side-decor-left svg, .filler-side-decor-right svg {
        width: 30vw;
    }
}

@media (max-width: 425px){
    .filler-bracketblue {
        width: 40px;
        top: 5px;
        left: 30px;
    }

    .filler-bracketpurple{
        width: 40px;
        bottom: 10px;
        right: 20px;
    }

    .filler-starabove {
        width: 50px;
        top: -20px;
        right: 5px;
    }
    .filler-starbelow {
        width: 40px;
        bottom: -4px;
        left: 20px;
    }

    .filler-side-decor-left svg, .filler-side-decor-right svg {
        width: 35vw;
    }
}

@keyframes fillerFloat {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(7px, 7px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes fillerBracketFloat {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-5px, 1px);
    }
    100% {
        transform: translate(0, 0);
    }
}